<section id="user-profile">
  <div class="container">

    <div class="jumbotron">
      <h1 class="display-3">I'm <%= current_user.username %></h1>
      <p class="lead">And I believe in the Heart of the Cards!</p>
      <hr class="my-4">
      <p class="text-success"><i class="far fa-clock"></i> Joined <%= current_user.created_at.strftime("%d %B %Y") %></p>
    </div>

    <h3>My Duels</h3>
    <div id="my-duels" class="list-group">
      <div class="list-group-item list-group-item-action flex-column align-items-start bg-success text-white">
        <div class="d-flex justify-content-between">
          <h5>Won Against Batgirl</h5>
          <small>1 days ago</small>
        </div>
        <div class="row duel-info">
          <div class="col">
            <p><i class="fas fa-play-circle"></i> Starting LP: 4000</p>
          </div>
          <div class="col">
            <p><i class="fas fa-hourglass-end"></i> Remaining LP: 4000</p>
          </div>
          <div class="col">
            <p><i class="far fa-clock"></i> Duel Time: 6 mins</p>
          </div>
        </div>
      </div>
      
      <div class="list-group-item list-group-item-action flex-column align-items-start bg-success text-white">
        <div class="d-flex justify-content-between">
          <h5>Won Against Robin</h5>
          <small>2 days ago</small>
        </div>
        <div class="row duel-info">
          <div class="col">
            <p><i class="fas fa-play-circle"></i> Starting LP: 8000</p>
          </div>
          <div class="col">
            <p><i class="fas fa-hourglass-end"></i> Remaining LP: 7500</p>
          </div>
          <div class="col">
            <p><i class="far fa-clock"></i> Duel Time: 17 mins</p>
          </div>
        </div>
      </div>

      <div class="list-group-item list-group-item-action flex-column align-items-start bg-success text-white">
        <div class="d-flex justify-content-between">
          <h5>Won Against Robin</h5>
          <small>3 days ago</small>
        </div>
        <div class="row duel-info">
          <div class="col">
            <p><i class="fas fa-play-circle"></i> Starting LP: 8000</p>
          </div>
          <div class="col">
            <p><i class="fas fa-hourglass-end"></i> Remaining LP: 6500</p>
          </div>
          <div class="col">
            <p><i class="far fa-clock"></i> Duel Time: 22 mins</p>
          </div>
        </div>
      </div>

      <div class="list-group-item list-group-item-action flex-column align-items-start bg-danger text-white">
        <div class="d-flex justify-content-between">
          <h5>Lost Against Batgirl</h5>
          <small>4 days ago</small>
        </div>
        <div class="row duel-info" >
          <div class="col">
            <p><i class="fas fa-play-circle"></i> Starting LP: 8000</p>
          </div>
          <div class="col">
            <p>Opponent's Remaining LP: 1500</p>
          </div>
          <div class="col">
            <p>Duel Time: 33 mins</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>