<section id="welcome">
  <div class="jumbotron jumbotron bg-dark text-light">
    <div class="container">
      <h1 class="display-4">LP Calculator <small class="text-muted">by Wen Ting Wang</small></h1>
      <p class="lead">This is a Life Points (LP) Calculator for Yu-Gi-Oh!</p>
      <hr class="my-4">
      <a href="/calculator" role="button" class="btn btn-primary">Go to LP Calculator</a>
      <a href="https://github.com/chubberlisk/lp_calculator" role="button" class="btn btn-primary"><i class="fab fa-github"></i>GitHub Repository</a>
    </div>
  </div>
</section>
