<div id="player-one-section" class="col">
  <h2 id="player-one"><b>Player One</b></h2>
  <p id="player-one-lp">8000</p>
  <div id="player-one-lp-change-section">
    <button id="player-one-lp-cancel" type="button" class="btn btn-danger"><i class="fas fa-times"></i></button>
    <span id="player-one-lp-change">0</span>
    <button id="player-one-lp-confirm" type="button" class="btn btn-success"><i class="fas fa-check"></i></button>
  </div>
  <div id="player-two-lp-btns-toolbar" class="btn-toolbar justify-content-center" role="toolbar" aria-label="Player One Life Points Buttons">
    <div id="player-one-lp-minus-btns" class="btn-group mr-2" role="group" aria-label="Player One Minus Life Points Buttons">
      <button id="player-one-lp-minus-one-thousand" data-lp-minus="1000" class="btn btn-danger player-one-lp-minus" type="button">-1000</button>
      <button id="player-one-lp-minus-five-hundred" data-lp-minus="500" class="btn btn-danger player-one-lp-minus" type="button">-500</button>
      <button id="player-one-lp-minus-one-hundred" data-lp-minus="100" class="btn btn-danger player-one-lp-minus" type="button">-100</button>
      <button id="player-one-lp-minus-ten" data-lp-minus="10" class="btn btn-danger player-one-lp-minus" type="button">-10</button>
    </div>
    <div id="player-one-lp-plus-btns" class="btn-group mr-2" role="group" aria-label="Player One Plus Life Points Buttons">
      <button id="player-one-lp-plus-one-thousand" data-lp-plus="1000" class="btn btn-success player-one-lp-plus" type="button">+1000</button>
      <button id="player-one-lp-plus-five-hundred" data-lp-plus="500" class="btn btn-success player-one-lp-plus" type="button">+500</button>
      <button id="player-one-lp-plus-one-hundred" data-lp-plus="100" class="btn btn-success player-one-lp-plus" type="button">+100</button>
      <button id="player-one-lp-plus-ten" data-lp-plus="10" class="btn btn-success player-one-lp-plus" type="button">+10</button>
    </div>
    <div class="btn-group" role="group" aria-label="Player One Toggle Life Points Buttons">
      <button id="player-one-show-lp-btns" class="btn btn-primary" type="button"><i class="fas fa-plus"></i></button>
    </div>
  </div>
</div>