<section id="calculator">
  <div class="container">

    <div class="row text-center">
      <%= render :partial => "player", :locals => { :player => "one" } %>
        <div id="duel-btns-section" class="col-12">
          <div class="container">
            <button id="lp-reset" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Reset Life Points"><i class="fas fa-redo"></i></button>
            <button id="lp-rotate" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Rotate View"><i class="fas fa-sync"></i></button>
            <button id="add-player-two" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Add Player Two"><i class="fas fa-user-plus"></i></button>
            <button id="remove-player-two" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Remove Player Two"><i class="fas fa-user-minus"></i></button>
          </div>
      </div>
      <%= render :partial => "player", :locals => { :player => "two" } %>
    </div>
  </div>
</section>
