<h1>Calculator</h1>
<p id="player-one-lp">8000</p>
<button id="lp-minus-one-thousand">- 1000</button>
<button id="lp-minus-five-hundred">- 500</button>
<button id="lp-minus-one-hundred">- 100</button>
<button id="lp-minus-ten">- 10</button>
