<h1>Calculator</h1>
<p id="player-one-lp">8000</p>
<p>
  <button id="lp-minus-one-thousand" data-lp-minus="1000">- 1000</button>
  <button id="lp-minus-five-hundred" data-lp-minus="500">- 500</button>
  <button id="lp-minus-one-hundred" data-lp-minus="100">- 100</button>
  <button id="lp-minus-ten" data-lp-minus="10">- 10</button>
</p>
<p>
  <button id="lp-plus-one-thousand" data-lp-plus="1000">+ 1000</button>
  <button id="lp-plus-five-hundred" data-lp-plus="500">+ 500</button>
  <button id="lp-plus-one-hundred" data-lp-plus="100">+ 100</button>
  <button id="lp-plus-ten" data-lp-plus="10">+ 10</button>
</p>
<p>
  <button id="lp-reset">Reset</button>
</p>
