/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import url('https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cyborg/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover.css');
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'calculator';
@import 'welcome';
@import 'snackbar';
@import 'devise';

p {
  font-size: 1rem;
}

a {
  text-decoration: none !important;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar {
  padding: 0.25rem 1rem;
}

a.navbar-brand img {
  width: 40px;
}

footer {
  margin: 2rem 0 2rem 0;
}

footer a.social-links {
  margin-right: 1vw;
  font-size: 2rem;
}

footer a.social-links:last-child {
  margin-right: 0;
}

footer a img {
  width: 52px;
  margin-bottom: 0.5rem;
}

/* Extra small devices */
@media only screen and (max-width: 320px) {
  html {
    font-size: 0.75rem;
  }

  section {
    padding-top: 54px;
  }
}

/* Small devices */
@media only screen and (min-width: 321px) {
  html {
    font-size: 0.85rem;
  }

  section {
    padding-top: 57px;
  }
}

/* Medium devices */
@media only screen and (min-width: 768px) {
  a#sign-in, span#or, span#hello-user {
    margin-right: 0.5rem;
  }
}

/* Large devices */
@media only screen and (min-width: 992px) {
  html {
    font-size: 1rem;
  }
}
