// Place all the styles related to the Calculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section#calculator {
  background-image: radial-gradient(#d9edffff, #6fa8dcff);
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#player-one-lp-change-section, div#player-two-lp-change-section {
  visibility: hidden;
  margin-bottom: 1rem;
}

div#player-one-lp-plus-btns, div#player-two-lp-plus-btns {
  display: none;
}

div#player-two-section {
  display: none;
}

button#remove-player-two {
  display: none;
}

p#player-one-lp, p#player-two-lp {
  font-size: 5rem;
  font-style: italic;
  color: yellow;
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

div#player-one-lp-btns-toolbar, div#player-two-lp-btns-toolbar {
  justify-content: center;
  margin-bottom: 1rem;
}

span#player-one-lp-change, span#player-two-lp-change {
  display: inline-block;
  width: 5rem;
  padding: 0.5rem;
}
