// Place all the styles related to the Calculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section#calculator {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2#player-one, h2#player-two {
  font-weight: bold;
  color: var(--teal);
}

p#player-one-lp, p#player-two-lp {
  font-weight: bold;
  color: #BA38DF;
  margin-bottom: 0;
}

div#player-one-lp-btns-toolbar, div#player-two-lp-btns-toolbar, div#duel-btns-toolbar {
  justify-content: center;
}

span#player-one-lp-change, span#player-two-lp-change {
  display: inline-block;
  width: 5rem;
  padding: 0.5rem;
  color: white;
}

div#player-one-section, div#player-two-section, div#duel-btns-section {
  display: flex;
  align-items: center;
}

div#duel-btns-section {
  padding: 0;
}

/* Extra small devices */
@media only screen and (max-width: 320px) {
  p#player-one-lp, p#player-two-lp {
    font-size: 4rem;
  }

  span#player-one-lp-change, span#player-two-lp-change, section#calculator button {
    font-size: 0.7rem;
  }

  section#calculator button {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  div#player-one-lp-change-section, div#player-two-lp-change-section {
    margin-bottom: 0.5rem;
  }

  div#player-one-section, div#player-two-section {
    height: 45vh;
    padding: 1rem;
  }

  div#duel-btns-section {
    height: 10vh;
  }
}

/* Small devices */
@media only screen and (min-width: 321px) {
  p#player-one-lp, p#player-two-lp {
    font-size: 5rem;
  }

  span#player-one-lp-change, span#player-two-lp-change, section#calculator button {
    font-size: 0.8rem;
  }

  div#player-one-lp-change-section, div#player-two-lp-change-section {
    margin-bottom: 0.75rem;
  }

  div#player-one-section, div#player-two-section {
    height: 45vh;
  }

  div#duel-btns-section {
    height: 10vh;
  }
}

/* Large devices */
@media only screen and (min-width: 992px) {
  p#player-one-lp, p#player-two-lp {
    font-size: 6.5rem;
  }

  span#player-one-lp-change, span#player-two-lp-change, section#calculator button {
    font-size: 1rem;
  }

  div#player-one-lp-change-section, div#player-two-lp-change-section {
    margin-bottom: 1rem;
  }

  div#player-one-section, div#player-two-section, div#duel-btns-section {
    height: auto;
  }

  div#duel-btns-section {
    margin: 2rem 0 2rem 0;
  }
}
