// Place all the styles related to the Calculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section#calculator {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#player-one-lp-change-section, div#player-two-lp-change-section {
  visibility: hidden;
}

div#player-one-lp-plus-btns, div#player-two-lp-plus-btns {
  display: none;
}

button#remove-player-two {
  display: none;
}

h2#player-one, h2#player-two {
  font-weight: lighter;
  color: var(--cyan);
}

p#player-one-lp, p#player-two-lp {
  font-weight: bold;
  color: #BA38DF;
  margin-bottom: 0;
}

div#player-one-lp-btns-toolbar, div#player-two-lp-btns-toolbar, div#duel-btns-toolbar {
  justify-content: center;
}

span#player-one-lp-change, span#player-two-lp-change {
  display: inline-block;
  width: 5rem;
  padding: 0.5rem;
  color: white;
}

/* Extra small devices */
@media only screen and (max-width: 320px) {
  p#player-one-lp, p#player-two-lp {
    font-size: 4rem;
  }

  section#calculator button {
    font-size: 0.7rem;
  }

  div#player-one-lp-change-section, div#player-two-lp-change-section {
    margin-bottom: 0.5rem;
  }

  div#player-one-section, div#player-two-section {
    height: 45vh;
    display: flex;
    align-items: center;
  }

  div#player-two-section {
    display: none;
  }

  div#duel-btns-section {
    height: 10vh;
    display: flex;
    align-items: center
  }
}

/* Small devices */
@media only screen and (min-width: 321px) {

}

/* Medium devices */
@media only screen and (min-width: 768px) {

}
