section#sign-in, section#sign-up, section#forgot-password {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Large devices */
@media only screen and (min-width: 768px) {
  section#sign-in .card, section#sign-up .card, section#forgot-password .card {
    width: 50rem;
  }
}
