section#sign-in, section#sign-up, section#forgot-password {
  min-height: 95vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Large devices */
@media only screen and (min-width: 992px) {
  section#sign-in .form-group, section#sign-up .form-group, section#forgot-password .form-group {
    margin-right: 250px;
    margin-left: 250px;
  }
}
