#snackbar {
  visibility: hidden;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 2vh;
  position: fixed;
  z-index: 2;
  bottom: 2.5vh;
  margin-left: 2.5vh;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.perm-show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
  from { bottom: 0; opacity: 0; }
  to { bottom: 2.5vh; opacity: 1; }
}

@keyframes fadein {
  from { bottom: 0; opacity: 0; }
  to { bottom: 2.5vh; opacity: 1; }
}

@-webkit-keyframes fadeout {
  from { bottom: 2.5vh; opacity: 1; }
  to { bottom: 0; opacity: 0; }
}

@keyframes fadeout {
  from { bottom: 2.5vh; opacity: 1; }
  to { bottom: 0; opacity: 0; }
}
