// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section#user-profile {
  margin-top: 2rem;
}

div#my-duels.list-group .list-group-item {
  padding: 1.5rem;
}

div.duel-info.row p {
  margin-bottom: 0;
}